@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
/* Start your base/mobile styles here */

* {
  box-sizing: border-box;
}

html {
  display: table;
  margin: auto;
}

body {
  line-height: 1;
  padding: 0.4em;
}

p {
  font-family: 'Raleway', sans-serif;
  max-width: 650px;
  text-align: left;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 90px text-transform: uppercase;
  text-align: center;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-align: center;
}

.byline {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.cap {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 15px;
  color: #999999;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
}

/* beginning of hotspot work */

div.hotspot {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
}

div.hotspot img {
  width: 100%;
}

div.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 200%;
  left: 0;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.65);
  transition: top 0.5s ease-in-out;
}

div.modal.active {
  top: 0;
}

div.modal div.inner {
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  padding: 1em;
}

.spot {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* hot spot style */

#fact1 {
  top: 15%;
  left: 25%;
  background-color: #164d36;
}

#fact2 {
  top: 70%;
  left: 39%;
  background-color: #e8e8ee;
}

/* end of hotspots work */

/* pull quote begins here */

.thick-line {
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 900;
  width: 40%;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 10px;
  border-color: blue;
  padding: 20px 0px 20px 30px;
  margin-left: 1%;
  margin-right: 5%;
  text-align: left;
}

/* pull quote work ends here */

@media(min-width: 681px) {}

@media(min-width: 729px) {
  #maincontent {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  .byline {
    text-align: center;
    margin: 0 auto;
  }